.product {
    transition: 0.5s;
    position: relative;
    max-height: 150px !important;
    min-height: 150px !important;
}

.product-price {
    width: 100px;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.product:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.075) !important;
}