{% extends 'master.twig' %}

{% block content %}


<div class="container">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    {% for product in products %}
      <div class="product-card col">
        <div class="product p-3 border bg-light">
          <a href="/shop?prod={{product.idproduct}}" class="link-product link-danger text-decoration-none stretched-link">{{product.nameproduct}}</a>
          <div class="product-price">
          |>
          <small class="text-success fw-bold">R$ {{product.price|number_format(2,',', '.')}}</small>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
{% endblock %}