{% extends 'master.twig' %}

{% block scripts %}
<script src="/assets/js/app/login.js">
{% endblock %}

{% block content %}
<div class="container align-middle">
    <div class="row">
      <div class="col-sm-4 mx-auto">
        <div class="card border-0 shadow shadow-lg rounded-3 my-5 align-middle">
          <div class="card-body pt-2 pb-4 pl-4 pr-4 p-sm-5">
            <img class="mx-auto d-block" src="/assets/img/logo.png" alt="" width="250" height="125">
            <form method="POST" action="/login/auth">
              <div class="form-group mb-4">
                  <label for="login">Login</label>
                  <input type="email" class="form-control" id="login" placeholder="usuario" name="login" required/>
              </div>
              <div class="form-group mb-3">
                  <label for="password">Senha</label>
                  <input type="password" class="form-control" id="password" placeholder="1234..." name="password" value="" required>
              </div>
              <div>
              </div>
              <div class="d-grid">
                <button class="btn btn-dark fw-bold" type="submit" id="login-button">Entrar</button>
              </div>
              <small class="text-danger">{{session.error_login}}</small>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/assets/js/app/login.js"></script>
{% endblock %}