<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/master.css">
    {% block head %}{% endblock %}
    <title>Trash Shop - {{ title }}</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Trash Shop</a>

            {% if session.session_logged == true %} 
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    Configurações
                </button>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenu">
                    <li><a class="dropdown-item" href="/profile">Configurações da conta</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/login/exit">Sair</a></li>
                </ul>
            </div>
            {% endif %}

        </div>
    </nav>
    
    <div class="container container-fluid py-1 mt-3">
        <h3>{{ title }}</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for page in breadcrumb %}
                    <li class="breadcrumb-item text-secondary">{{ page }}</li>
                {% endfor %}
            </ol>
        </nav>
        <hr>
        {% block content %}{% endblock %}
    </div>
    <script src="/assets/js/bootstrap/bootstrap.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>